<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tl.mybatis.mapper.WordMapper">
  <select id="getWordByWordName" resultType="org.tl.mybatis.WordEntry">
    select * from word where wordName = #{wordName}
  </select>
</mapper>